* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* ----- Header Section Start------ */
.header {
    padding: 10px 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo-side {
    display: flex;
    align-items: center;
}

.logo-side i {
    padding: 0 10px;
    cursor: pointer;
}

.logo-side img {
    width: 50px;
    margin-left: 10px;
}

.search-bar {
    width: 40%;
}

.search-bar form {
    height: 35px;
    display: flex;
    border: 1px solid #ddd;
}

.search-bar input {
    width: 95%;
    height: 100%;
    padding: 10px;
    margin: 0;
    border: none;
}

.search-bar button {

    height: 100%;
    border: none;
    padding: 1% 2%;
}

.icons-side {
    width: 10%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.icons-side svg {
    width: 24px;
}

/* ----- Header Section End------ */

/* ----- Side-bar Section Start------ */
main {
    display: flex;
}

.side-bar {
    width: 14%;

}

.nav-items {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin: 15px 0;
}

.nav-items .item {
    display: flex;
    align-items: center;
    padding: 15px 25px;
    cursor: pointer;
}

.nav-items .item span {
    margin-left: 15px;
    color: #606060;
    font-size: 14px;
}

.nav-items .item:hover {
    background-color: #e5e5e5;
}

/* ----- Side-bar Section End------ */

/* -----Videos Section Start------ */
.videos {
    background-color: #f9f9f9;
    width: 85%;
    height: 100%;
    padding: 15px;
    border-top: 1px solid #ddd;
}

.videos h1{
    margin-bottom: 10px ;
}

.videos-wrapper {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.video {
    width: 300px;
    margin-bottom: 30px;
    box-shadow:0px 0px 15px -8px black;
}

.thumbnail {
    width: 100%;
    height: 170px;
}

.thumbnail img {
    object-fit: cover;
    height: 100%;
    width: 100%;
}

.video_details {
    display: flex;
    padding: 2%;

}

.video_details .author {
    border-radius: 50%;
    width: 15%;
    margin-right: 15px;

}

.video_details .author img {
    height: 40px;
    width: 40px;
}

.video_details .content {
    width: 82%;
}

.channel-link {
    text-decoration: none;
    display: block;
    margin: 3% 0;
}

/* -----Videos Section End------ */